:root { 
  --black: #000000;
  --sepia-black: #300707;
 
  --font-size-l: 52px;
  --font-size-m: 48px;
  --font-size-s: 40px;
  --font-size-xl: 64px;
  --font-size-xxl: 96px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-inter-bold: "Inter-Bold", Helvetica;
}
.inter-normal-black-64px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-48px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-inter-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.inter-normal-sepia-black-48px {
  color: var(--sepia-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-sepia-black-52px {
  color: var(--sepia-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}
